
::ng-deep {
    .headers-align .mat-expansion-panel-header-title,
    .headers-align .mat-expansion-panel-header-description {
      flex-basis: 1;
    }
    
    .headers-align .mat-expansion-panel-header-description {
      justify-content: flex-end;
      align-items: center;
    }
    
    .headers-align .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }
    
}

.collection {
    margin-top: 0;
    border-radius: 5px;
}

.fab, .fas, .mat-expansion-panel, .collection-item span {
    transition: all ease-out .4s;
}

::ng-deep {
    .mat-expansion-panel-header:hover, .collection-item:hover  {
        .fab, .fas, .collection-item span {
            transform: scale(2.5) rotate(25deg);
            color: #ffffff;
        }
        
    }
}
.whatsapp:hover {
    background: #25D366 !important;
} 
.messenger:hover {
    background: #0084ff !important;
} 
.skype:hover {
    background: #00AFF0 !important;
} 
.maps:hover {
    background: #FFFC00 !important;
} 
.email:hover {
    background: #bd081c !important;
} 

.collection-item:hover span{
    position: relative;
    left: 2em;
}

.facebook:hover {
    background: #3b5999 !important;
}
.instagram:hover {
    background: #e4405f !important;
}
.youtube:hover {
    background: #cd201f !important;
}
