<div [ngClass]="{'container': onlyProduct}">
    <div class="back" (click)="location.back()" *ngIf="onlyProduct">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="row" id="articulo" *ngIf="Product">
        <div class="col s12 m6">
            <div id="article-image">
                <div class="imgContainer">
                    <img id="productImg" [src]="Product.imagenUrl['url']" [alt]="Product.referencia">
                </div>
            </div>
        </div>
        
        <div class="col s12 m6" id="desc">
            <div id="article-descripcion">
                <h1>{{Product['referencia']}}</h1>
                
                <p class="precio">
                    <b style="font-size: 1.5em;">${{ Product['precio'] | mask: 'separator':',' }}</b><br>
                </p>
                
                <p class="descripcion" *ngIf="Product['descripcion']">
                    {{Product['descripcion'].slice(0,249)}}
                    <span *ngIf="Product['descripcion'].length > 250">
                        ... <a (click)="scroll()">Leer más</a>
                    </span>
                </p>
                
            </div>
            <div id="product_actions">
                <mat-card>
                    <mat-card-content id="actions">
                        <app-addcart-btn 
                        [productId]="Product.id">
                        </app-addcart-btn>
                            
                        <app-add-wishlist 
                        [product]="Product.id">
                        </app-add-wishlist>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    

</div>