<div class="container">
    <div class="row">
        <div class="col s12">
            <h5>AGREGAR CATEGORIA</h5>
        </div>
    </div>

    <form action="#" method="post" onsubmit="return false" #categoryForm="ngForm">
        <div class="row">
                <!-- NOMBRE DE LA CATEGORIA -->
                <div class="col s12 input-field">
                    <input
                        type="text"
                        name="name"
                        id="name"
                        [(ngModel)]="category.name"
                        #name="ngModel"
                        required
                        
                    />
                    <label class="active" for="name">Nombre</label>
                </div>


        </div>

        

        <!-- * BOTÓN DE GUARDADO -->

        <div class="row">
            <div class="col s12 center">
                <button
                    class="btn light-blue darken-4 waves-light"
                    (click)="onSubmit()"
                    [disabled]="!categoryForm.form.valid"
                >
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>
