.articulo {
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.6);
    padding: 0em 0em 2em;
}

.btn-list {
    display: flex;
    flex-flow: row wrap;
}

.option-icon {
    width: 33.333333%;
    font-size: 16px;
    color: #005daa;
    text-align: center;
}

.imgArticulo {
    overflow: hidden;
}

.imgArticulo img {
    position: relative;
    transform: translate(-50%, 10%);
    height: 100%;
    max-width: 150%;
}

.art-container {
    padding: 3%;
    background: #ffffff;
}

.descrip {
    padding: 0 8%;
}