<div class="row">
    <div class="col s12 m4 art-container" *ngFor="let item of articulos">
        <div class="articulo" [id]="item.id">
            <div class="imgArticulo imgContainer">
                <img [src]="item.imagenUrl['url']" [alt]="item.imagenUrl['alt']">
            </div>
            <div class="descrip">
                <p class="articulo-name">
                    <b>{{item.referencia}}</b>
                </p>
                <div class="options-list">
                    <ul class="btn-list">
                        <li class="option-icon">
                            <i class="fas fa-heart"></i>
                        </li>
                        <li class="option-icon">
                            <i class="fas fa-shopping-cart"></i>
                        </li>
                        <li class="option-icon">
                            <i class="fas fa-eye"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>