<mat-toolbar gdev-color [color]="'white'" [background]="'primary'" id="navbar">
    <span class="hide-on-large-only mobile-menu" 
    (click)="navbarService.toggleMobileMenu.emit()">
        <i class="fas fa-bars"></i> 
    </span>
    
    <span>{{appTitle}}</span>
    
    <span class="espacio"></span>
    
    <div class="col right user-profile" *ngIf="login.admin$ | async as user; else unlogged">
        
        <button mat-icon-button
        [matMenuTriggerFor]="menuProfile"
        ><i class="fas fa-chevron-circle-down"></i></button>
        <mat-menu #menuProfile="matMenu">
            <button 
            mat-menu-item 
            *ngFor="let item of menuStructure"
            [routerLink]="[item.route]"
            >{{item.name}}</button>
            
            <button mat-menu-item 
            (click)="login.singOut()"
            >Cerrar sesión</button>
        </mat-menu>
        
        <div class="imgProfileContainer">
            <img src="{{user.photoURL}}" alt="">
        </div>

        <p class="userName"> {{user.displayName}} </p>
    </div>
    
    <ng-template #unlogged>
    </ng-template>
</mat-toolbar>