<div class="row">
    <div class="col s12 m3">
        <img [src]="product.description.imagenUrl['url']" [alt]="product.description.imagenUrl['alt']">
    </div>
    <div class="col s7 referencia">
        <h5 [routerLink]="['/tienda/producto',product.description.id]" > {{product.description.referencia}} </h5>
        <p> ${{product.description.precio}} </p>
        <p> Agregado {{product.agregado}} </p>
    </div>
    <div class="col s5 m2 precios">
        <app-addcart-btn [product]="product"></app-addcart-btn>
    </div>
</div>