<button
    class="leftScroll-btn slider-scroll-bar"
    (click)="scrollMinLeft()"
    [disabled]="!checkScrollLeft()"
>
    <i class="fas fa-chevron-circle-left"></i>
</button>

<div id="miniaturas" class="center">
    <div
        [ngClass]="{ selected: i == productIndex }"
        class="miniatura imgContainer"
        *ngFor="let product of products; let i = index"
        (click)="updateProduct.emit(i)"
    >
        <ng-container *ngIf="!product.imagenUrl['url']; else alt">
            <img [src]="product.imagenUrl" />
        </ng-container>
        <ng-template #alt>
            <img [src]="product.imagenUrl['url']" [alt]="product.imagenUrl['alt']" />
        </ng-template>
        
    </div>
</div>

<button
    class="rightScroll-btn slider-scroll-bar"
    (click)="scrollMinRight()"
    [disabled]="!checkScrollRight()"
>
    <i class="fas fa-chevron-circle-right"></i>
</button>
