 <div id="loginBox">
    <form action="#" name="loginForm" #loginForm="ngForm" id="loginForm" method="get" (ngSubmit)="onSubmit()" onsubmit="return false">
        <div class="row">
            <div class="col s12">
                <h5 class="center">INICIAR SESIÓN</h5>
            </div>
            <div class="col s12 input-field">
                <input type="email" name="email" id="email" [(ngModel)]="cliente.email" #email="ngModel" />
                <label for="email">Email</label>
            </div>
            <div class="col s12 input-field">
                <input type="password" name="contra" id="contra" [(ngModel)]="cliente.contra" #contra="ngModel" />
                <label for="contra">Contraseña</label>
            </div>
            <div class="col s12 center">
                <button mat-raised-button [color]="'white'" >Ingresar</button>
            </div>
            <div class="col s12">
                <a>Recuperar contraseña</a>
            </div>
        </div>
    </form>

    
</div>

