<form (ngSubmit)="onSubmit()" #deliveryForm="ngForm">
    <div class="col s12">
        <mat-form-field>
            <mat-label>Domicilio</mat-label>
            <input type="text" name="address" id="address" matInput [(ngModel)]="delivery.address" required>
            <mat-error *ngIf="deliveryForm.invalid">
                {{requiredMessage()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Barrio</mat-label>
            <input type="text" name="depto" id="depto" matInput [(ngModel)]="delivery.depto" required>
            <mat-error *ngIf="deliveryForm.invalid">
                {{requiredMessage()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ciudad</mat-label>
            <input type="text" name="city" id="city" matInput [(ngModel)]="delivery.city" required>
            <mat-error *ngIf="deliveryForm.invalid">
                {{requiredMessage()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Departamento</mat-label>
            <input type="text" name="state" id="state" matInput [(ngModel)]="delivery.state" required>
            <mat-error *ngIf="deliveryForm.invalid">
                {{requiredMessage()}}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col s12 center">
        <button mat-raised-button [color]="'primary'">
            Ir a pagar
        </button>
    </div>
</form>