.mat-card {
    margin: 1em 0;
}

.mat-card-content {
    max-height: 270px;
}

.mat-card-content,
.mat-card-title {
    cursor: pointer;
}



.card-image img {
    position: relative;
    z-index: 2;
}